<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{fragments/nonLoggedIn}">

<head>
    <title th:text="${#messages.msgOrNull('setNewPassword')?:'setNewPassword'}"></title>
    <style th:inline="text">
    body{
        background-image: url(/images/foodypromo_v2.jpg);
        background-size: cover;
    }
    @media screen and (max-width: 900px) {
    body {
        background-image: url(/images/foodypromo_hatter.jpg);
      }
    }

    </style>

    <script th:inline="javascript">
function validateForm() {
  let pw = document.forms["registration"]["password"].value;
  let pw2 = document.forms["registration"]["password2"].value;

    if (pw !== pw2) {
        alert("Passwords are different")
        return false;
    }
}


    </script>
</head>
<body>

<div layout:fragment="content">
    <div sec:authorize="isAnonymous()">

        <div class="center" style="text-align: center;">
            <img th:src="@{/images/foody_logo.svg}" class="foody_logo">
            <h1 class="header-centered-text" style="font-size: xxx-large;">
                <span th:text="${#messages.msgOrNull('betAndTravel')?:'betAndTravel'}"></span>
            </h1>
        </div>

        <form name="registration" onsubmit="return validateForm()" th:action="@{/register/changePassword}"
              method="post" class="form-signin center">

            <h2 class="header-centered-text" required="true"><span
                    th:text="${#messages.msgOrNull('setNewPassword')?:'setNewPassword'}"></span>
            </h2>
            <br>
            <div style="text-align: center;">
                <input type="hidden" required name="userId" th:value="${userId}"/>
                <input type="hidden" required name="hash" th:value="${hash}"/>
                <input type="password" maxlength="500" id="password" name="password"
                       class="form-control circle-input center"
                       th:placeholder="${#messages.msgOrNull('password')?:'password'}"
                       required minlength="6"/>
                <input type="password" maxlength="500" id="password2" name="password2"
                       class="form-control circle-input center"
                       th:placeholder="${#messages.msgOrNull('password-again')?:'password again'}"
                       required minlength="6"/>
            </div>
            <div class="btn-wrapper center center-aligned-text">
                <input class="radius-button" style="background: #e4002b;" type="submit"
                       th:value="${#messages.msgOrNull('submit')?:'submit'}">
            </div>
        </form>
    </div>
</div>
</body>

</html>
